* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.background {
	background: url("../img/new.jpeg");

	height: 100vh;
	background-size: cover;
	background-position: center;
}
.background :after {
	position: absolute;

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.062);
}
.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 999;
	width: 370px;
	padding: 60px 32px;
	background: rgba(255, 255, 255, 0.04);
	box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.content header {
	color: rgb(12, 12, 12);
	font-size: 35px;
	font-weight: 1200;
	margin: 0 0 35px 0;
	font-family: Arial;
}
.box {
	position: relative;
	height: 50px;
	width: 100%;
	display: flex;
	background: rgba(255, 255, 255, 0.94);
}
.box span {
	color: black;
	width: 40px;
	line-height: 45px;
}
.box input {
	height: 100%;
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	color: #222;
	font-size: 16px;
}
.show {
	position: absolute;
	font-size: 13px;
	font-weight: 700;
	right: 13px;
	cursor: pointer;
	display: none;
}
.pasd:valid ~ .show {
	display: block;
}

.brake {
	margin-top: 16px;
}
.forgot {
	text-align: left;
	margin: 15px 0;
}
.forgot a {
	text-decoration: none;
}
.forgot a :hover {
	text-decoration: underline red;
}
input[type="submit"] {
	background-color: #2399e7;
	cursor: pointer;
	color: white;
	letter-spacing: 0.8px;
	font-size: 20px;
	font-weight: 700;
	font-family: Arial;
}
input[type="submit"]:hover {
	background-color: #0f9fff;
}


.signup {
	margin-top: 5%;
}
.signup a {
	color: #175eca;
	font-size: 20px;
	text-decoration: none;
	font-weight: 900;
	text-indent: 10;
}
.signup a:hover {
	text-decoration: underline;
}
.close {
	background-color: #dce8f6;
}
.close i {
	font-size: 50px;
	background-color: none;
	margin-left: 95%;
	color: red;
}

.forgot {
	background: transparent;
	text-align: center;
}